.Footer{
    width: 100%;
    height: 200px;
    background-color: black;
}
.logo{
    width: 30%;
    display: inline-block;
    color: blanchedalmond;
}
.Quicklinks{
    width: 30%;
    display: inline-block;
}
.Quicklinks a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 5px 0px;
}
.SocialMedia{
    width: 30%;
}