.header{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}
.mainHeader{
    background-color: white;
    border-radius: 30px;
    border: 1px solid gray;
    width: 90%;
    text-align: center;
    margin: auto auto;
    padding: 10px 0;
}
.headerlogo{
    width: 40%;
    display: inline-block;
    text-align: left;
    margin: auto auto;
}
.headerlink{
    margin: auto auto;
    text-align: right;
    display: inline-block;
}
.headerlink a{
    margin: 0px 10px;
    text-decoration: none;
}