.header{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}
.mainHeader{
    background-color: rgba(20, 20, 20, 0.973);
    border-radius: 20px;
    width: 90%;
    text-align: center;
    margin: auto auto;
    padding: 20px 0;
}
.headerlogo{
    color: white;
    width: 40%;
    display: inline-block;
    text-align: left;
    margin: auto auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headerlink{
    margin: auto auto;
    text-align: right;
    display: inline-block;
}
.headerlink a{
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}