.MainBody{
    text-align: center;
}
.upcoming{
    display: inline-block;
}
.section{
    margin: 10px 10px;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 4px;
}
.section img{
    width: 200px;
    height: 230px;
    border-radius: 3px;
}